td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
}
body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

table {
  border-collapse: collapse;
  background-color: white;
}

.App {
  background-color:#ff6969;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  color: white;
  font-family: 'Arial Black';
  -webkit-text-stroke: 1px black;
}